<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>WebSocket Test</title>

        <script async src="/static/game.js"></script>
    </head>

    <body>
        <h1>La Guerra Funcional</h1>

        <div id="output">
        </div>

        <div>
            <input type="text" id="message" autofocus/>
        </div>

        <button onClick="websocket.close()">Close connection</button>
    </body>
</html>
