@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-Black.ttf') format('ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-BlackItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-BoldItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-ExtraBold.ttf') format('ttf');
    font-style: bold;
    font-weight: 800;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-ExtraBoldItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-Light.ttf') format('ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-LightItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-Italic.ttf') format('ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-Light.ttf') format('ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-LightItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-Medium.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-MediumItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-SemiBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-SemiBoldItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-Thin.ttf') format('ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Barlow';
    src: url('/public/fonts/Barlow/Barlow-ThinItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 100;
}
